@import "tailwindcss";
@import "tw-animate-css";

body {
  background-color: black;
  color: white;
}

button {
  background-color: black;
  color: white;
}

/* Your custom styles */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.heroSection {
  margin-left: 125px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heroSection h1 {
  font-size: 30px;
  font-weight: 500;
  color: #9b7cf8;
}

.heroSection h2 {
  font-size: 20px;
  font-weight: 400;
  color: gainsboro;
}

.heroSection h3 {
  width: 800px;
  font-size: 25px;
  font-weight: 600;
}

.voice {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'Lobster', sans-serif;
  animation: pulse 1s infinite alternate;
  z-index: 4;
}

.voice-img {
  max-width: 200px;
  max-height: 200px;
}
